<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Facebook login">
  <test thread-count="1" name="Facebook login positive case">
    <classes>
      <class name="FacebookLogin" />
    </classes>
  </test> <!-- Test -->



  <test thread-count="1" name="Facebook Profile Test case">
    <classes>
      <class name="FacebookProfile" />
    </classes>
  </test> <!-- Test -->
  
  
   <test thread-count="1" name="Sample Test case for Package">
   <packages>
        <package name= "com.testng.training"> </package> 
   </packages>
   
  </test> <!-- Test -->
  </suite> <!-- Suite -->